<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index.html">Branding Name/Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto mb-2 mb-md-0">
                <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="/index.html">Directory</a>
                </li><!-- /.nav-item .active -->
            </ul><!-- /. navbar-nav .mr-auto .mb-2 .mb-md-0 -->
        
            <form class="d-flex">
                <input [(ngModel)]="searchString" name="searchString" class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div><!-- /.collapse .navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
  
<main class="container-fluid">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-4">
        <div class="col" *ngFor = "let person of ( people | searchPeople: searchString )">
            <div class="card border-dark text-center">
                <div class="card-header">
                    <p class="card-title">{{ person.name }}</p>
                </div>

                <div class="card-body">
                    <img src="assets/images/{{ person.photoFileName }}" class="card-img-top" alt="bio photo for {{ person.name }}">
                    <p class="card-title">{{ person.position }}</p>
                </div>

                <div class="card-footer">
                    <button (click)="bindBio(person)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#entryModal">View Bio</button>
                </div>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row .row-cols-2 .row-cols-md-2 .g-5 -->
</main>

<footer class="footer mt-auto py-3 bg-dark">
    <div class="container-fluid">
        <span class="text-muted">Footer content</span>
    </div><!-- /.container -->
</footer><!-- /.footer .mt-auto .py-3 bg-dark -->

<div id="entryModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div><!-- /.modal-header -->

            <div class="modal-body">
                <img height="256px;" src="assets/images/{{ _personPhotoFileName }}" class="rounded float-left padded-image" alt="bio photo for {{ _personName }}">
                <h4>{{ _personName }}</h4>

                <ul class="list-unstyled">
                    <li>{{ _personDepartment }}</li>
                    <li>{{ _personPosition }}</li>
                    <li><a href="mailto:{{ _personEmailAddress }}">{{ _personEmailAddress }}</a></li>
                </ul>
                
                <p>{{ _personNarrative }}</p>
            </div><!-- /.modal-body -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->